body{
    background-color: white;
}

.box-pai{
    background-color: #D2D9CC;
    display: flex;
    flex-direction: column; 
    margin: 0.3vw;
}

.box, .box-1 {
    margin: 2vh 1vw;
    height: 20vh;
    border-color:#F21616;
    border-style: solid;
    border-width: 1px;
}

.box-child-1{
    height: 10vh;    
}

.box-child-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 25vh;
    
}

.box-child-5{
    flex-grow: 1;
    
}

.box-child-6{
    flex-grow: 6;
}

.box-child-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 25vh;
}
.box-child-7 {
    flex-grow: 1;
}
.box-child-8 {
    flex-grow: 1;
}
.box-child-9 {
    flex-grow: 1;
}
.box-child-10 {
    flex-grow: 1;
}
